[submodule "openssllib/openssl"]
    path = openssllib/openssl
    url = https://github.com/openssl/openssl
[submodule "mbedtlslib/mbedtls"]
    path = mbedtlslib/mbedtls
    url = https://github.com/ARMmbed/mbedtls
[submodule "cmockalib/cmocka"]
    path = cmockalib/cmocka
    url = https://git.cryptomilk.org/projects/cmocka.git
